<?xml version="1.0" encoding="utf-8"?>
<!--
	packages.config
	
	Copyright (c) 2016 Zach Deibert.
	All Rights Reserved.
-->
<packages>
	<package id="log4net" version="2.0.5" targetFramework="net35" />
	<package id="LibGit2Sharp" version="0.22.0" />
	<package id="LibGit2Sharp.NativeBinaries" version="1.0.129" />
</packages>